@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
	box-sizing: border-box;
}

td{
	padding: 5px 20px;
}

body {
    background-image: url("1.jpg");
    font-size: 16px;
    line-height: 1.42;
    font-family: Arial, Helvetica, sans-serif;
}

.h22{
	text-align: center;
	font-family: Cabin Condensed, sans-serif;
	font-size: 30px;
	font-weight: 100;
	color: rgba(0, 0, 0, 1);
	text-transform: uppercase;
	font-style: normal;
	text-decoration: solid dotted;
	line-height: 3.2em;
	letter-spacing: 1.5px;
	text-shadow: px 0px 13px rgba(226, 3, 3, 0.993);
}

#from_currency{
	font-size: 15px;
}

.main{
	margin: 0 30%;
}

.currency select {
	background: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .2em top 50%, 0 0;
    background-size: .50em auto, 100%;
	border: 0;
	padding-right: 20px;
	font-size: 22px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.currency input {
	border: 0;
	background: transparent;
	font-size: 22px;
	text-align: right;
}

.middle {
	color: #f59300;
	display: flex;
	align-items: center;
	column-gap: 20px;
}

.middle button {
	background-color: #fff;
	border: 2px solid #ecf0f1;
	border-radius: 50%;
	cursor: pointer;
	color: #f59300;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	transform: rotate(90deg);
}

.middle button:active {
	transform: rotate(90deg) scale(0.9);
}

.middle .rate {
	background-color: #fff;
	border: 2px solid #ecf0f1;
	border-radius: 50px;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	padding: 0 10px;
	margin: 30px 15px 30px 25px;
}

select:focus, input:focus, button:focus {
	outline: 0;
}

.form-control {
    display: block;
    width: auto;
    height: 34px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#to_ammount{
	margin: 15px 15px;
}

.scheduler-border{
    align-items: center;
    background-color: #f4f9f9;
}

.group_2 {
	font-family: arial;
	color: #14396A !important;
	font-size: 15px;
	text-shadow: 1px 1px 0px #7CACDE;
	box-shadow: 1px 1px 1px #BEE2F9;
	padding: 10px 20px;
	border-radius: 10px;
	border: 2px solid #3866A3;
	background: #63B8EE;
	background: linear-gradient(to top, #63B8EE, #468CCF);
  }
  .group_2:hover {
	color: #14396A !important;
	background: #468CCF;
	background: linear-gradient(to top, #468CCF, #63B8EE);
  }

  .group{
	  align-items: center;
	  margin: 20px 40%;
  }